<!DOCTYPE html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> SISTEMA ACADEMICO EDBP </title>

    <style type="text/css">
    *{
        padding: 0px;
        margin: 0px;
    }
    #header
    {
    margin: auto;
    width: 500px;
    font-family: Arial ,Helvetica, sans-serif;
    }
    ul, ol {

        list-style: none;
    }
    .nav li a {
        opacity: 2;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }
    .nav li a:hover{
        background-color: #01c5cb;
    }
    .nav> li{
        float: left;
    }
    .nav li ul{
        display:none;
        position: absolute;
        min-width: 140px;
    }
    .nav li:hover > ul{
        display: block;
    }
    </style>

    <!-- Estilos y fuentes del template  -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"> Hola {% if user %} {{ request.user.username }}
            {{ request.user.rolusuario.rol }} {% endif %}    </a>
        <a class="navbar-brand" href="{% url 'logout' %}">Salir</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menú
            <i class="fa fa-bars"></i>
        </button>

{% if request.user.is_authenticated %}

        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

{% if user.rolusuario.rol.nombre == "DOCENTE"  %}
                <ul class="nav">

                    <li><a href="{% url 'home' %}">Inicio</a></li>

                    <li><a href="">Crear</a>
                        <ul>
                    <li><a href="{% url 'Docentes' %}">Docentes</a></li>
                    <li><a href="{% url 'estudiante' %}">Estudiante</a></li>
                    <li><a href="{% url 'grado' %}">Grado</a></li>
                    <li><a href="{% url 'materia' %}">Materia</a></li>
                        </ul>
                     </li>

                    <li><a href="">Secretaria</a>
                        <ul>
                    <li><a href="{% url 'docentemateria' %}">Docentes/Materia</a></li>
                    <li><a href="{% url 'estudiantegrado' %}">Estudiante/Grado</a></li>
                        </ul>
                     </li>

                    <li><a href="">Listados</a>
                        <ul>
                    <li><a href="{% url 'docentemateriapdf' %}">Materia Docente</a></li>
                    <li><a href="{% url 'estudiantegradopdf' %}">Estudiante en Grado</a></li>
                        </ul>
                     </li>
                   {% comment %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'Calificaciones' %}">Calificaciones</a>
                </li>{% endcomment %}

                </ul>
{% endif %}

                  {% comment %}<li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                </li>{% endcomment %}

{% if user.rolusuario.rol.nombre == "ADMINISTRADOR" or user.rolusuario.rol == "" %}
              <ul class="nav">

                <li class="nav-item">
                <a class="nav-link" href="{% url 'consultarusuarios' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'consultarroles' %}">Roles</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'consultarrolesusuarios' %}">Roles y Usuarios</a>
                </li>
              </ul>

{% endif %}

        </ul>
        </div>

{% else %}

            <p>Inicie sesión para Continuar...</p>

{% endif %}


        </div>
        </nav>


    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('{% block imagen %} {% endblock %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-15 col-md-5 mx-auto">
            <div class="site-heading">

            {% comment %}
              <h1> ESCUELA PARTICULAR ESPERANZA DE BASTION POPULAR </h1>
            {% endcomment %}


              <span class="subheading"> Grupo 7 </span>
              <span class="subheading"> DESARROLLO DE SOFTWARE </span>

              {% block header %}

              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </header>

<!-- Contenido -->

{% block yandri %} {% endblock %}


    <!-- Pié de página -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; 2020 · Estudiantes Desarrollo de Software  </p>
          </div>
        </div>
      </div>
    </footer>




    <!-- Bootstrap y Javascripts -->
    {% load static %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
