{% extends "core/base.html" %}
{% block title %} Consulta {% endblock %}
{% block imagen %}{% load static %} {% static 'img/Consulta.jpg' %}{% endblock %}

{% block yandri %}
    <div class="container">
        <div class="col-md-10" style="margin-top: 100px;">

            <h2> Consulta </h2>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Docente</th>
                        <th>Estudiante</th>
                        <th>Grado</th>

                        <th>Editar</th>
                        <th>Eliminar</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for d in docente %}
                    {% for e in estudiante %}
                    {% for g in grado %}

                        <tr>
                            <td>{{ d.nombre }}</td>
                            <td>{{ e.nombre }}</td>
                            <td>{{ g.grado }}</td>

                            <td><a class="nav-link" href="{% url 'modificarconsulta' d.id %}">Editar</a></td>
                            <td><a class="nav-link" href="{% url 'eliminarconsulta' d.id %}">Eliminar</a></td>

                        </tr>

                    {% endfor %}
                    {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <a class="nav-link" href="{% url 'crearconsulta' %}">Nueva Consulta</a>


        </div>
    </div>

{% endblock %}