{% extends "core/base.html" %}
{% block title %} portfolio {% endblock %}
{% block imagen %}{% load static %} {% static 'img/Consulta.jpg' %}{% endblock %}

{% block yandri %}
    <div class="container">
        <div class="col-md-15" style="margin-top: 100px;">

            <h2> Consulta </h2>
           <form class="form-control" method="GET" action="{% url 'consulta' %}">
            <input class="form-control" type="search" name="search">
            <button class="form-control" type="submit"> Consultar </button>
        </form>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Estudiante</th>
                        <th>Grado</th>

                        <th>Editar</th>
                          <th>Eliminar</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for e in consulta %}
                        <tr>
                            <td>{{ e.estudiante }}</td>
                            <td>{{ e.grado }}</td>


                        <td>  <a class="nav-link" href="{% url 'modificarconsulta' e.id  %}">Modificar</a> </td>

                        <td>  <a class="nav-link" href="{% url 'eliminarconsulta' e.id  %}">Eliminar</a> </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <a class="nav-link" href="{% url 'crearconsulta' %}">Crear Consulta</a>


        </div>
    </div>



{% endblock %}