{% extends "core/base.html" %}
{% block title %} portfolio {% endblock %}
{% block imagen %}{% load static %} {% static 'img/Estudiante-bg.jpg' %}{% endblock %}

{% block yandri %}
    <div class="container">
        <div class="col-md-15" style="margin-top: 100px;">

            <h2> Docente y Materia </h2>
        {% comment %}
        <form class="form-control" method="GET" action="{% url 'docentes' %}">
            <input class="form-control" type="search" name="search">
            <button class="form-control" type="submit"> Buscar </button>
        </form>
        {% endcomment %}

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <a class="nav-item" href="{% url 'docentemateriaexportarlista' %}">Exportar a PDF</a>
                    </tr>
                    <tr>
                         <th>Id</th>
                        <th>Docente</th>
                        <th>Materia</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for r in docentemateria %}
                        <tr>
                            <td>{{ r.id }}</td>
                            <td>{{ r.docente }}</td>
                            <td>{{ r.materia }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



        </div>
    </div>



{% endblock %}