{% extends "core/base.html" %}
{% block title %} portfolio {% endblock %}
{% block imagen %}{% load static %} {% static 'img/Estudiante-bg.jpg' %}{% endblock %}

{% block yandri %}
    <div class="container">
        <div class="col-md-15" style="margin-top: 100px;">

            <h2> Estudiantes en Grados </h2>
        {% comment %}
        <form class="form-control" method="GET" action="{% url 'estudiante' %}">
            <input class="form-control" type="search" name="search">
            <button class="form-control" type="submit"> Buscar </button>
        </form>
        {% endcomment %}

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <a class="nav-item" href="{% url 'exportarlistaestudiantegradopdf' %}">Exportar a PDF</a>
                    </tr>
                    <tr>
                         <th>Id</th>
                        <th>Estudiante</th>
                        <th>Grado</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for r in estudiantegrado %}
                        <tr>
                            <td>{{ r.id }}</td>
                            <td>{{ r.estudiante }}</td>
                            <td>{{ r.grado }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>



{% endblock %}