{% extends "core/base.html" %}
{% block title %} Estudiante {% endblock %}
{% block imagen %}{% load static %} {% static 'img/Estudiante-bg.jpg' %}{% endblock %}

{% block yandri %}
    <div class="container">
        <div class="col-md-15" style="margin-top: 100px;">

            <h2> Estudiante </h2>
        <form class="form-control" method="GET" action="{% url 'estudiante' %}">
            <input class="form-control" type="search" name="search">
            <button class="form-control" type="submit"> Buscar Estudiante</button>
        </form>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Email</th>

                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for estudiante in estudiante %}
                        <tr>
                            <td>{{ estudiante.nombre }}</td>
                            <td>{{ estudiante.apellido }}</td>
                            <td>{{ estudiante.edad }}</td>
                            <td>{{ estudiante.email }}</td>

                            <td><a class="nav-link" href="{% url 'modificarestudiante' estudiante.id %}">Editar</a></td>
                            <td><a class="nav-link" href="{% url 'eliminarestudiante' estudiante.id %}">Eliminar</a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <a class="nav-link" href="{% url 'crearestudiante' %}">Crear Nuevo estudiante</a>


        </div>
    </div>

{% endblock %}